@use '@angular/material' as mat;

:host {
  @include mat.sidenav-overrides((
    container-background-color : var(--mat-sys-secondary-container),
  ));
  @include mat.list-overrides((
    list-item-label-text-color : var(--mat-sys-on-secondary-container),
  ));
}

h1{
  color : var(--mat-sys-on-primary-container);
  text-align: center;
}
.title-nav {
  align-items : center;
}

.side-nav-button {
  position: fixed;
  top : 10px;
  right : 10px;
  z-index: 1000;
}
