@use '@angular/material' as mat;

:host {
  @include mat.card-overrides((
    elevated-container-color : var(--mat-sys-surface-container),
    subtitle-text-color : var(--mat-sys-secondary),
    subtitle-text-weight : var(--mat-sys-title-small-weight),
    subtitle-text-tracking : var(--mat-sys-title-small-tracking),
  ));
  @include mat.divider-overrides((
    width : 1px
  ));
}
.card-container {
  .post-content-container{
    display:inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height : 100px;
  }
  span{
    color : var(--mat-sys-secondary);
  }
  color : var(--mat-sys-on-primary-container)
}
::ng-deep mat-grid-tile .mat-grid-tile-content{
  align-items: flex-start;
  justify-content: start;
}
