<mat-card>
    <mat-card-header class="mat-card-header">
        <mat-card-title> {{ postDetails.title }}</mat-card-title>
        <mat-card-subtitle class="mat-card-subtitle"> {{ postDetails.author }}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <p class="m-6">
            {{ postDetails.content }}
        </p>
    </mat-card-content>
    <mat-card-footer>
        @for (comment of comments; track $index) {
            <p>{{comment.author}}</p>
            <p>{{comment.content}}</p>
        }
    </mat-card-footer>
</mat-card>