@use '@angular/material' as mat;

:host {
  @include mat.card-overrides((
    elevated-container-color : var(--mat-sys-surface-container),
    subtitle-text-color : var(--mat-sys-secondary),
    subtitle-text-weight : var(--mat-sys-title-small-weight),
    subtitle-text-tracking : var(--mat-sys-title-small-tracking),
  ));
  @include mat.divider-overrides((
    width : 1px
  ));
}
.card-container {
  .post-content-container{
    display:inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height : 100px;
    width : 100%;
  }
  ::ng-deep .content-form-field{
    width : 100%;
  }
  span{
    color : var(--mat-sys-secondary);
  }
  button + button {
    margin-left : 2px;
  }
  color : var(--mat-sys-on-primary-container);
  margin-bottom: 5px;
}
.comment-card-container{
  .comment-content-container{
    display:inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width : 50%;
  }
  ::ng-deep .content-form-field{
    width : 100%;
  }
  span{
    color : var(--mat-sys-secondary);
  }
  button + button {
    margin-left : 2px;
  }
  color : var(--mat-sys-on-primary-container);
  margin-bottom: 5px;
  width : 80%;
}
